<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Route_Tracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Route_Tracker.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Route_Tracker.Properties.Settings>
            <setting name="CompleteHotkey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SkipHotkey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UndoHotkey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GlobalHotkeys" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdvancedHotkeys" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeysEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShortLoad" serializeAs="String">
                <value>131151</value>
            </setting>
            <setting name="ShortSave" serializeAs="String">
                <value>131155</value>
            </setting>
            <setting name="ShortLoadP" serializeAs="String">
                <value>131148</value>
            </setting>
            <setting name="ShortResetP" serializeAs="String">
                <value>131154</value>
            </setting>
            <setting name="ShortRefresh" serializeAs="String">
                <value>116</value>
            </setting>
            <setting name="ShortHelp" serializeAs="String">
                <value>112</value>
            </setting>
            <setting name="ShortFilterC" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="ShortConnect" serializeAs="String">
                <value>65603</value>
            </setting>
            <setting name="ShortGameStats" serializeAs="String">
                <value>65619</value>
            </setting>
            <setting name="ShortRouteStats" serializeAs="String">
                <value>65618</value>
            </setting>
            <setting name="ShortLayoutUp" serializeAs="String">
                <value>262221</value>
            </setting>
            <setting name="ShortLayoutDown" serializeAs="String">
                <value>65613</value>
            </setting>
            <setting name="ShortBackFold" serializeAs="String">
                <value>131138</value>
            </setting>
            <setting name="ShortBackNow" serializeAs="String">
                <value>65602</value>
            </setting>
            <setting name="ShortRestore" serializeAs="String">
                <value>196674</value>
            </setting>
            <setting name="ShortSetFold" serializeAs="String">
                <value>196691</value>
            </setting>
            <setting name="AutoTog" serializeAs="String">
                <value>131137</value>
            </setting>
            <setting name="TopTog" serializeAs="String">
                <value>131156</value>
            </setting>
            <setting name="AdvTog" serializeAs="String">
                <value>6553</value>
            </setting>
            <setting name="GlobalTog" serializeAs="String">
                <value>131143</value>
            </setting>
            <setting name="ShortImportRoute" serializeAs="String">
                <value>131157</value>
            </setting>
            <setting name="CheckForUpdateOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DevMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LayoutMode" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value />
            </setting>
            <setting name="GameDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AC4Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="Gow2018Directory" serializeAs="String">
                <value />
            </setting>
        </Route_Tracker.Properties.Settings>
        <Route_Tracker.Settings1>
            <setting name="GameDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
        </Route_Tracker.Settings1>
    </userSettings>
</configuration>